[submodule "packages/timeline"]
	path = packages/timeline
	url = git@github.com:apssouza22/video-timeline.git
[submodule "packages/video-preview"]
	path = packages/video-preview
	url = git@github.com:apssouza22/video-canvas.git
